@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");

header {
  background-color: #6b9080;
  font-family: "IM Fell French Canon SC";
  font-size: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
header img {
  max-width: 80%;
}

nav a:hover {
  background-color: #a4c3b2;
  color: white;
}

nav {
  display: flex;
}

nav a {
  padding: 55px;
  color: white;
  text-decoration: none;
}

#logo_link {
  padding-top: 5px;
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

body {
  font-size: 22px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  background-color: #eaf4f4;
}
img {
  max-width: 60%;
  justify-content: center;
}

.logo {
}

main {
  padding: 20px;
}

main div{
  display: flex;
  justify-content: center;
}

.wordleGame {
}

#doubleLetter {
  max-width: 30%;
}

#stats {
  max-width: 30%;
}
